<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
</head>
<body>
<a href="./about">work as it is html page prediect all are sama</a> 

   <h1>this is now main page for dyn web site </h1>
    <a>all thing happen means html part </a>
    <a>css and baki part in public</a>
    <h1>src-index.js  only calling part</h1>
 </body>
</html>