<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body class="ss">
    <%- include('./partials/header.ejs') %>

  <h1>jjnaao</h1>  
  <h1>jjnaao</h1>  
  <h1>jjnaao</h1>  
  <h1>jjnaao</h1>  
  <h1>jjnaao</h1>  
  <h1>jjnaao</h1>  
  <%- include('./partials/footer.ejs'); %>

<script src="../../JS/script.js"></script>
</body>
</html>