 <div class="container">
        <div class="row row-col-1 row-col-md-2">
            <!-- big part of row col -->
            <div class="col col-md-8" >
                <!-- img contaiiner -->
                <!-- frist -->
                <div class="chatbox"  > 
                <div class="img-fluid " >
                    <img src="./img1.jpeg" alt=""    width="100%" height="200px">
                </div>
                <div class="container mb-10 ">
                    <div class="d-flex" style="justify-content: space-around;flex-direction: column;">
                        <button class="btn btn-primery">
                            <span class="d-flex" style="align-items: center;  width: 77px;"><i class="fa-regular fa-message mar1"></i>Artical</span>
                      
                            </button>
                            <div class="d-flex" style="align-items: center;justify-content: space-between;">
                             <b id="img1tex">What if famous brands had regular fonts? Meet<p> RegulaBrands!</p></b>
                             <button class="btn  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-ellipsis"></i>   </button>
                                              <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Action</a></li>
                                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                                              </ul>
                                            </div>                                           </div>
                            <a id="txt11">I’ve worked in UX for the better part of a decade. From now on, I plan to rei…</a>

                     <div class="d-flex imgtag"  >
                        <div class="d-flex imgtag"  >
                            <img class="profile1" src="./ankur.jpeg" alt=""  width="40px" height="40px" style="border-radius: 50%;" />
                     <a>Sarthak Kamra  </a>
                    </div>
                    <div class="d-flex imgtag"  >
                        <div class="d-flex profile1 imgtag"  >
                            <i class="fa-regular fa-eye"></i>
                            <a class="view">1.4k view</a>
                    </div> 
                                    <i class="fa-solid fa-2x  fa-square-share-nodes"></i>  
   
                    </div>

</div>
</div>
      </div>      <!-- second messsage -->
      <div class="chatbox"> 
            <div class="img-fluid "  >
                <img src="./img2.jpeg" alt=""  width="100%" height="200px">
            </div>
            <div class="container mb-10">
                <div class="d-flex" style="justify-content: space-around;flex-direction: column;">
                    <button class="btn btn-primery">
                        <span class="d-flex" style="align-items: center; width: 100px;"><i class="fa-regular fa-message  mar1" ></i>Education</span>
                  
                        </button>
                        <div class="d-flex" style="align-items: center;justify-content: space-between;">
<b id="img1tex">
    Tax Benefits for Investment under National Pension<p>  Scheme launched by Government</p>
</b>                         <div class="dropdown">
                            <button class="btn  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i>   </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">Action</a></li>
                              <li><a class="dropdown-item" href="#">Another action</a></li>
                              <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                          </div>                
                                      </div>
                        <a id="txt11">I’ve worked in UX for the better part of a decade. From now on, I plan to rei…</a>

                 <div class="d-flex imgtag"  >
                    <div class="d-flex imgtag"  >
                        <img class="profile1" src="./ankur.jpeg" alt=""  width="40px" height="40px" style="border-radius: 50%;" />
                 <a>Sarah West </a>
                </div>
                <div class="d-flex" style="justify-content: space-between;align-items: center;">
                    <div class="d-flex imgtag profile1"  >
                        <i class="fa-regular fa-eye"></i>
                        <a class="view">1.4k view</a>
                </div> 
                  
                                   <i class="fa-solid fa-2x fa-square-share-nodes"></i>  
      </div>

</div>
</div>
  </div>
  </div>
<!-- third message -->
<div class="chatbox"> 

<div class="img-fluid" >
    <img src="./img3.jpeg" alt=""  width="100%" height="200px">
</div>
<div class="container mb-10">
    <div class="d-flex" style="justify-content: space-around;flex-direction: column;">
        <button class="btn btn-primery">
            <span class="d-flex" style="align-items: center;  width: 95px;"><i class="fa-regular fa-message  mar1"></i>Meet up</span>
      
            </button>
          
                 <div class="d-flex" style="padding: 15px 0px; justify-content: space-around;flex-direction: column;">
                     
                        <div class="d-flex" style="align-items: center;justify-content: space-between;">
                         <b id="img1tex">Finance & Investment Elite Social Mixer @Lujiazui</b>
                         <button class="btn  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis"></i>   </button>
                                          <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Action</a></li>
                                            <li><a class="dropdown-item" href="#">Another action</a></li>
                                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                                          </ul>
                                        </div>                        
                           </div>
                        <!-- <a>I’ve worked in UX for the better part of a decade. From now on, I plan to rei…</a> -->
                        <div class="d-flex" style="justify-content: space-between;align-items: center; padding-bottom: 15px;" >
                        <input type="datetime-local">
                        <div class="d-flex" style=" align-items: center; padding-bottom: 5px;" >
            
                        <i class="fa-solid fa-location-pin"></i>
                        <a>Ahmedabad, India</a>
                        </div>  
                                              <P></P> 
            

                        </div>
                        <div class="d-flex" style="justify-content: center; align-items: center; padding-bottom: 7px;">
                            <button class="btn btn-outline-primary" style="width: 100%; border-radius: 6px;">view</button>
            </div>
            <div class="d-flex imgtag"  >
        <div class="d-flex imgtag"  >
            <img class="profile1" src="./ankur.jpeg" alt=""  width="40px" height="40px" style="border-radius: 50%;" />
     <a>Sarthak Kamra  </a>
    </div>
    <div class="d-flex" style="justify-content: space-between;align-items: center;">
        <div class="d-flex imgtag profile1" style="justify-content: space-around;align-items: center; ">
            <i class="fa-regular fa-eye"></i>
            <a class="view">1.4k view</a>
    </div> 
          <i class="fa-solid fa-2x fa-square-share-nodes"></i>
</div>

</div>
</div>
</div>
</div>
 <!-- forth -->
 <!-- <div class="container mb-10"  style=" padding-top: 10px";>
    <div class="d-flex" style="justify-content: space-around;flex-direction: column;">
         
            <div class="d-flex" style="align-items: center;justify-content: space-between;">
             <b>Finance & Investment Elite Social Mixer @Lujiazui</b>
             <button class="btn  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>   </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div>                        
               </div>
            <a>I’ve worked in UX for the better part of a decade. From now on, I plan to rei…</a>
            <div class="d-flex" style="justify-content: space-between;align-items: center; padding-bottom: 5px;" >
            <input type="datetime-local">
            <div class="d-flex" style=" align-items: center; padding-bottom: 5px;" >

            <i class="fa-solid fa-location-pin"></i>
            <a>Ahmedabad, India</a> 
            </div>            
            </div>
            <div class="d-flex" style="justify-content: center; align-items: center; padding-bottom: 7px;">
                <button class="btn btn-outline-primary" style="width: 100%; border-radius: 6px;">view</button>
</div>
<div class="d-flex" style="justify-content: space-between;align-items: center;padding-bottom: 5px;">
        <div class="d-flex" style="justify-content: space-between;align-items: center;">
            <img src="https://s3-alpha-sig.figma.com/img/756e/302b/7d56a759ac56bc165f65c40094aba4e8?Expires=1708300800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=emTV0l4j8raEIhyu6fr6~dCFxBDy2JdiYTtk~iTYmhrq3LFAse3-iTxqk95zgv9tbjU5isatuKEjGZUqbIfe~zkauJjop~xtxrlUEXe66HRVZJVdv6Xmr3CiRM5gWoYNJt8LZnWbXtVaGsIqWkJiGccNr5ziVnidVTw1aeoGfQqI5UxCFlXbpR65pHhXTVFJxuthBsv-kmOCLk~ZzD0TgwcSTuQtZlG820N2~wtE4lOdoWQuWCwfXZgBEEJ4g1FU4pmb76m8ENQtRws4U4kXycd1U3fL9dn0cDRqQP2nOGoVDag1NFGIu~JtbVm02GbnoEbY7HL8bHLCtP7jDGG2Gg__" alt=""  width="20px" height="20px" style="border-radius: 50%;" />
     <a>Sarthak Kamra  </a>
    </div>
    <div class="d-flex" style="justify-content: space-between;align-items: center;">
        <div class="d-flex" style="justify-content: space-around;align-items: center; ">
            <i class="fa-regular fa-eye"></i>
            <a >1.4k view</a>
    </div> 
          <i class="fa-solid fa-square-share-nodes"></i>
</div>

</div>
</div> -->
<!-- fifth -->
<div class="chatbox"> 
<div class="container mb-10">
    <div class="d-flex" style="justify-content: space-around;flex-direction: column;">
        <button class="btn btn-primery">
            <span class="d-flex" style="align-items: center; width: 65px;"><i class="fa-regular fa-message mar1"></i>Job</span>
      
            </button>
            <div class="d-flex" style="align-items: center;justify-content: space-between;">
             <b id="img1tex">Software Devolapment</b>
             <button class="btn  " type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>   </button>
                              <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                              </ul>
                            </div>                        
               </div>
             <div class="d-flex" style="justify-content: space-between;align-items: center; padding-bottom: 5px;" >
<a id="lasttxt">Innovaccer Analytics Private Ltd.</a>
    <div class="d-flex" style="align-items: center; " >
                <i class="fa-solid fa-location-pin"></i>
                <a>Noida, India</a>
            </div>
            <p></p>
            </div>
            <div class="d-flex" style="justify-content: center; align-items: center; padding-bottom: 7px;padding-top: 10px;">
                <button class="btn btn-outline-primary" style="width: 100%; border-radius: 6px;">view</button>
</div>
<div class="d-flex imgtag" style="justify-content: space-between;align-items: center;padding-bottom: 5px;">
        <div class="d-flex imgtag" style="justify-content: space-between;align-items: center;">
            <img class="profile1" src="./ankur.jpeg" alt=""  width="40px" height="40px" style="border-radius: 50%;" />
     <a>Sarthak Kamra  </a>
    </div>
    <div class="d-flex  style="justify-content: space-between;align-items: center;""  >
        <div class="d-flex profile1 imgtag" >
            <i class="fa-regular fa-eye"></i>
            <a class="view" >1.4k view</a>
    </div> 
          <i class="fa-solid fa-2x fa-square-share-nodes"></i>
</div>

</div>
</div>
</div>
 </div>

             <!-- small part -->
            <div class="col col-md-4" >
<div class="container">
    <div class="d-flex chatbox" style="align-items: center;justify-content: space-between;margin-top: 40px;">
        <div class="imgtag2"> 
        <i class="fa-solid fa-location-pin"></i>

        <input id="search" type="search" placeholder="search loaction" style="outline: none;border: none;" onchange="add" >
        </div>
        <hr/>
        <i class="fa-solid fa-pen"></i>
</div>

            </div>
        </div>
    </div>
    </div>