 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
    {{!-- amar mota ../public/css/style.css   but
         .. mana view folder thaka baira ,/ mana folder are under(ja kono) 
        folder css(folder or file direct axcess) so ral link ../css/style.css       --}}
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>header}}
    <div id="flexx"> 
   <p>andkkdkd</p> 
      <p>andkkdkd</p> 
   <p>{{name}}</p> 
   <p>andkkdkd</p> 
   <p>andkkdkd</p> 
   <p>andkkdkd</p> 
   <p>andkkdkd</p> 
</div>
 {{>footer}}
<script src="/frontenedJS/script.js"/>
</body>
</html>
 